/node_modules
/public/hot
/public/storage
/public/fonts
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.idea/
.phpstorm.meta.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
