a.menu-item{
    color: white !important;
    font-weight: normal;
    font-size: 120%;
    opacity: 0.93;
}
a.menu-item:hover {
    /*color: lawngreen !important;*/
    background: #4b9500 !important;
}
a.menu-item:hover:active {
    color: greenyellow !important;
}

.card {
    opacity: 0.93;
}
.navbar {
    opacity: 0.85;
}
.container {
    padding-top: 90px;
    padding-bottom: 100px;
}
th,td {
    vertical-align: middle !important;
    font-weight: normal;
}
.big {
    color: #e87a2c;
    font-weight: bold;
    font-size: 150%;
}

/*body {*/
/*    color: #fff;*/
/*    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
/*}*/

