a.menu-item{
    color: white !important;
    font-weight: normal;
    font-size: 120%;
    opacity: 0.93;
}
a.menu-item:hover {
    /*color: lawngreen !important;*/
    background: #0b0a09 !important;
}
a.menu-item:hover:active {
    color: #8b8f8f !important;
}
.card {
    opacity: 0.93;
}
.navbar {
    opacity: 0.85;
}
.container {
    padding-top: 90px;
    padding-bottom: 100px;
}
th,td {
    vertical-align: middle !important;
    font-weight: normal;
}
.big {
    color: #e87a2c;
    font-weight: bold;
    font-size: 150%;
}

div.search {
    width: 300px !important;
}

.notfound{
    display: none;
}
/*table {*/
/*    table-layout:fixed;*/
/*}*/

